@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600&family=Raleway:wght@100;200;300;400;500;600&family=Source+Code+Pro:wght@300&family=Work+Sans:wght@100;200;300;400;500;600&display=swap');
body{
    font-family: 'Catamaran';

    margin-top: 0;
    height:	100%;

    background-color: #25324b;
} /* #b09779 */
#wrapper{
    position: fixed;
    
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 10%;
    padding-right: 10%;
    
    width: 70%;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 15px #25252577;
    background-color:#ffffff;
}

/*
 * Heading
 */
#heading{
    margin-bottom: 0px;
    
    background-color: #ffffff;

    display: flex;
    justify-content: space-between;
}
#name{
    text-align: left;
    color: #2e3649;

    width: 40em
}
#info{
    text-align: right;

    align-self: flex-end;

}
h1{
    margin-bottom: 10px;
    margin-left: -0.05em;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 5em;
    line-height:80%;
}
h2{
    width: fit-content;
    margin: 0px;
    margin-left: -2px;

    font-size: 2.5em;
}
hr{
    margin-top: 0px;
    margin-bottom: 0px;
    
    width: 30em;
    height: 1px;
    background-color: #2e3649;
    
}
.icon{
    font-size: 2.5em;
    position: relative;
    bottom: 0.02em;
}
/*
 * Fancy typewriter
 */
.typewriter{
    font-family: 'Source Code Pro';
    font-size: 2em;

    overflow: hidden;
    white-space: nowrap;
    border-right: .1em solid #2e3649; /* The typwriter cursor */
    animation: 
        typing 3s steps(19, end),
        blink-caret 1s step-end infinite;
}
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to{ width:19ch}
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #2e3649; }
}

/*
 * Content
 */
p{
    font-weight: 400;
    font-size: 24px;
}

/*
 * Common items
 */
a{
    color: #2e3649;
    text-decoration: none;
}