body{
	font-family: 'Josefin Sans', sans-serif;
	margin: 0px;
	padding: 0px;
	background-image: url("../Images/code6.png");
	background-color: rgb(242, 240, 239);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.italic{
	font-style: italic;
}
.center{
	text-align: center;
}
p{
	font-size: 20px;
}
.icon{
	border-radius: 5px;
}
.break{
	margin-bottom: 3em;
}
header{
	position: fixed;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: rgba(78, 78, 78, 1);
	z-index: 3;
	box-shadow: 0px 0px 15px 3px #666666;
}
.headerNavText{
	font-size: 25px;
	text-decoration: none;
	color: #e6e6e6;
}
#headerText{
	text-align: center;
	color: white;
	font-size: 40px;
	margin: 15px;
	margin-top: 20px;
}
#headerTitle{
	color: white;
	font-size: 40px;
	text-decoration: none;
}
a:hover{
	color: #b0b0b0;
}
.small{
	font-size: 15px;
}
#title{
	width: 100%
}
#name{
	font-size: 70px;
	display: inline-block;
	height: 70px;
}
#info{
	display: inline-block;
}
h1{
	margin-block: 0;
}

.h2{ /*Use this class + <a> tag to make smaller headings beside main ones*/
	font-size: 15px;
	display: inline-block;
	margin-left: 1ex;
}

h2{
	font-size: 27px;
}
#wrapper{ /* All content should be in the wrapper*/
	box-shadow: 0px 0px 10px 3px #d6d6d6;
	width: 900px;
	min-height: 90%;
	margin-left: 10px;
	margin-right: 50px;
	margin-top: 0px;
	padding: 50px;
	background-color: white;
}