body{
	font-family: 'Josefin Sans', sans-serif;
	margin: 0px;
	padding: 0px;
	background-image: url("../Images/code5.png");
	background-color: rgb(242, 240, 239);
	/*background-size: cover;
	background-repeat: no-repeat;*/
}
.center{
	text-align: center;
}
p{
	font-size: 20px;
}
a:hover{
	color: #b0b0b0;
}
header{
	position: fixed;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: rgba(78, 78, 78, 1);
	z-index: 3;
	box-shadow: 0px 0px 15px 3px #666666;
}
footer{
	position: absolute;
	bottom: 0;
	left:0;
	right:0;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: rgba(78, 78, 86, 1);
	z-index: 3;
	box-shadow: 0px 0px 15px 1px #666666;
}

.headerNavText{
	font-size: 25px;
	text-decoration: none;
	color: #e6e6e6;
}
#headerText{
	text-align: center;
	color: white;
	font-size: 40px;
	margin: 15px;
	
}
.h2{ /*Use this class + <a> tag to make smaller headings beside main ones*/
	font-size: 15px;
}
.pageBanner{
	/*border-style: hidden;
	border-radius: 10px;
	border-color: white;*/
	box-shadow: 0px 3px 5px -1px #c2c2c2;
	margin-left: -50px;
	margin-top: -10px;
}
#wrapper{
	box-shadow: 0px 0px 10px 3px #d6d6d6;
	position: absolute;
	width: 900px;
	min-height: 100%;
	height: 100%;
	left: 50%;
	top: 70px;
	margin-left: -500px;
	margin-top: 0px;
	padding: 50px;
	padding-top: 15px;
	background-color: white;
}